        body{
            background-color: gray;
        }
        .card{
            width: 350px;
            background: white;
            border-radius: 10px;
            column-gap: 1000px; 
            row-gap: 20px;     
        }
        .card img{
            margin-left: 60px;
            margin-top: 20px;
        }
        .role{
            color: blue;
        }
        .myrole{
            color:rgb(29, 179, 129);
        }
        .cardlist {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        }

        @media (min-width: 768px) {
        .cardlist {
        grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (min-width: 1024px) {
        .cardlist {
            grid-template-columns: repeat(3, 1fr);
            }
        }