        body{
            background-color: gray;
        }
        .card {
        width: 100%;
        background: white;
        border-radius: 12px;
        overflow: hidden;
        }
        .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        }
        .role{
            color: blue;
        }
        .myrole{
            color:rgb(29, 179, 129);
        }
        .cardlist {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
        }
        .addcard{
            display: none;
            width: 95%;
            background-color: white;
            border-radius: 10;
            padding: 20px;
            margin: 20px 0;
        }
        .row {
            display: flex;
            gap: 10px;
        }

        .field {
            flex: 1;
        }

        input, select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
        .introduce{
            background-color: white;
            width: 800px;
            height: 800px;
            border-radius: 10px;
        }
        .addcard {
        display: none;
        width: 95%;
        background-color: white;
        border-radius: 10px; /* 10 → 10px로 수정해야 적용됨 */
        padding: 20px;
        margin: 20px 0;
        }